*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1 rem represents
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-almost-black;
  color: lavender;
}

.container {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateY(3rem);
}
