.sudoku-grid {
  @include style-grid-components($color-white, 50rem, 50rem);
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  border: 0px $color-almost-black solid;

  &__grid-cell {
    @include style-grid-components(lighten(whitesmoke, 2%), 100%, 100%);
    font-size: 3.8rem;
    font-weight: 400;
    color: transparent;
    text-shadow: 0 0 0 grayscale($color: #000202b7);
    border: 1px $color-almost-black solid;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    text-align: center;

    &--invalid {
      background-color: rgba(255, 133, 145, 0.3);
    }
  }
}

.difficulty {
  @include style-grid-components($color-white, 4rem, 50rem);
  margin-top: 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 0rem 0;
  align-items: center;
  color: $color-almost-black;

  &--left {
    @include style-grid-components(
      lighten($color-almost-black, 10%),
      100%,
      31.5%
    );
    color: whitesmoke;
    border-radius: 3px;

    display: flex;
    align-items: center;
  }

  &--mode {
    font-weight: 400;
    margin-left: 2rem;
    display: block;
    cursor: default;
  }

  &--settings {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-left: 2rem;
    margin-right: 2rem;

    & > p {
      font-weight: 300;
      display: inline-block;
      transition: all 0.4s;

      &:hover {
        color: lighten($color-almost-black, 25%);
        text-shadow: 1px 2px 14px gray;
        cursor: pointer;
      }
    }
  }
}

.options {
  display: flex;
  width: 50rem;
  justify-content: space-between;

  &__button {
    background-color: lighten(gray, 50%);
    color: $color-almost-black;
    border: 1px solid lighten(gray, 10%);
    margin-top: 1rem;
    border-radius: 3px;
    padding: 1rem 0;
    transition: 0.5s all;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      background-color: darken(whitesmoke, 1%);
      border: 1px solid lighten(black, 40%);
    }

    &:active {
      transform: translateY(4px);
    }

    &--solver {
      width: 60%;
    }

    &--reset {
      width: 37.5%;
      background-color: lighten($color-almost-black, 10%);
      color: whitesmoke;

      &:hover {
        background-color: lighten($color-almost-black, 17.5%);
      }
    }
  }
}
