.sudoku__grid {
  @include style-grid($color-almost-black, 50rem, 50rem, 1px, 1px);
}

.inner__grid {
  @include style-grid($color-almost-black, 100%, 100%, 1px, 1px);

  &--cell {
    font-size: 3.8rem;
    font-weight: 400;
    height: 100%;
    width: 100%;
    color: grayscale($color: #000202b7);
    background-color: lighten(whitesmoke, 2%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
