body {
  font-size: $default-font-size;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  background-color: whitesmoke;
}

.heading--1 {
  font-size: 3rem;
  text-align: center;
  color: grayscale($color: #000202b7);
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

p {
  font-size: $default-font-size;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
